/* COGS3 studyBuddy specific styles go here. */
#title {
    background-color: #00bcd4;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff
}

h2 {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: bold;
}
h3 {
    font-family: 'Montserrat';
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15%;
}

/*Navigation Bar*/

.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: Ubuntu;
    font-size: 1.5rem;
    color: crimson;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
    width: 60%;
    transform: rotate(20deg);
}


/* Features */

#features {
    padding: 7% 15%;
    background-color: #fff;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8712;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #8fdbf2;
}

/* Testimonials */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #00bcd4;
}

.testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin: 10px;
}

#press {
    background-color: #00bcd4;
    text-align: center;

}

.press-logo {
    width: 10%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15% 7%;
}

/* Pricing */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-header {
    color: #000;
}

.pricing-column {
    padding: 3% 2%;
}

/* Call to Action Section CTA */

#cta {
    background-color: #00bcd4;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

/* Footer */

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}

/* Media Queries */

@media (max-width: 1028px){
    
    #title {
        text-align: center;
    }
    
    .title-image {
        position: static;
        transform: rotate(0);
    }
}